<div id="<%= dom_id vehicle %>">
  <div>
    <strong>Client:</strong>
    <%= vehicle.client_id %>
  </div>

  <div>
    <strong>Plate:</strong>
    <%= vehicle.plate %>
  </div>

  <div>
    <strong>Brand:</strong>
    <%= vehicle.brand %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </div>

  <div>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </div>

</div>
